@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Raleway', sans-serif;
  }
  li {
    cursor: pointer;
  }

  body{
   /*  background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; */
    font-family: 'Readex Pro', sans-serif;
    }
  
  h1{
    
    width: 381px;
    animation: type 5s 1s infinite, blink 0.5s infinite ;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid rgba(255, 255, 255, 0.8);
   /*font-family: monospace;*/
  }

  @keyframes type {
    0% , 90%,100% {
      width: 0;
    }
  30%,60%{
    width: 381px;
  }
  }

  @keyframes blink {
  from {border-right-color: rgba(255, 255, 255, 0.8) ;}
    to {border-right-color: transparent;}
}

@media (max-width: 600px) {
  h1 {
   width: 192;

  }

  
  @keyframes type {
    0% , 90%,100% {
      width: 0;
    }
  30%,60%{
    width: 192px;
  }
  }
}

  }


@layer components {
  .badge{
    @apply
    px-3 whitespace-nowrap text-xs rounded-full bg-[#324158] text-stone-200
  }
}


@media (max-width: 600px) {
.ReactModal__Content--after-open {
    padding: 15px 20px !important;
    margin: -0.8rem
    } 
    .ReactModal__Content--after-open h2 {
      font-size: 1.18rem;
      line-height: 1.4rem;
    }   
    .ReactModal__Content--after-open p {
      font-size: smaller;
    }
}
